{% extends '::base.html.twig' %}

{% block body %}

<h3>Content part (editable in admin)</h3>

<table border="1px solid black;">
    <tr>
        <td>Name</td>
        <td>{{ contentPart.name }}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{ contentPart.title }}</td>
    </tr>
    <tr>
        <td>Content formatter</td>
        <td>{{ contentPart.contentFormatter }}</td>
    </tr>
    <tr>
        <td>Raw content</td>
        <td><pre>{{ contentPart.rawContent}}</pre></td>
    </tr>
    <tr>
        <td>Processed content</td>
        <td>{{ contentPart.content | raw }}</td>
    </tr>
</table>



{% endblock %}