{% extends '::base.html.twig' %}

{% block body %}

<ul>
	<li><a href="{{ path('distribution_demo_default_media') }}">Example page for Media</a></li>
	<li><a href="{{ path('distribution_demo_default_dbtwigtemplates') }}">Example page for database twig templates</a></li>
    <li><a href="{{ path('distribution_demo_default_formatter') }}">Example page for formatter</a></li>
	<li><a href="{{ path('distribution_demo_default_contentpart') }}">Example page for DifaneContentPartBundle</a></li>
</ul>

<!-- Example of SCSS usage. See http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html -->
{% stylesheets '@DistributionDemoBundle/Resources/public/css/test.scss' filter="scssphp"%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}


<!-- Example of LESS usage. See http://lesscss.org -->
{% stylesheets '@DistributionDemoBundle/Resources/public/css/test.less' filter="lessphp"%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}