{% extends "::base.html.twig" %}

{% block body %}
    <h3>Export all stories from session "{{ entity.title }}" back to JIRA</h3>

    <form action="{{ path('poker_session_export_jira_all_process', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Export stories</button> or
            <a href="{{ path('poker_session_show', { 'id': entity.id }) }}" class="btn">
                Cancel and back to the session
            </a>
        </p>
    </form>


{% endblock %}
